vendor/
node_modules/
npm-debug.log
bootstrap/compiled.php
bootstrap/cache
app/storage/
public/storage
public/hot
storage/*.key
storage/framework/cache/
storage/logs/
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json
!public/assets/common/vendor
vendor/composer/*
.idea/*
.idea